/* css transition text align */

#one ul.actions {
  z-index: 999;
  opacity: 0.2;
  transition: opacity 0.8s ease;
}

#one ul.actions:hover {
  opacity: 1;
}

/* #one ul.actions {
    text-align: center;
    width: 0;
    transition: width .8s ease;
    display: inline;
}

#one ul.actions:hover {
    width: 100%;
} */

/*  */

div#wrapper {
  filter: blur(0) !important;
}

img.gallery-img {
  position: absolute;
  clip-path: inset-rectangle(10%, 100%, 10%, 0px);
}

div.image.main {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

span.gallery-img {
  width: 100%;
  height: 100%;
  float: left;
  /* filter: blur(1px); */
  background-position: center;
  background-size: cover;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: inset 2px 2px 100px -30px #171216;
  box-shadow: inset 2px 2px 100px -30px #171216;
  margin-bottom: 20px;
}

div.image:hover .gallery-img,
div.image:focus .gallery-img {
  transform: scale(1.1);
  /* filter: blur(5px); */
}

/* TRANSITION CSS */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 800ms ease-in;
}

.group {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.group > * {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

/* TRANSITION CSS */

/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css?family=Lato:300');
html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato';
  font-size: 1rem;
  line-height: 1.5;
  background-size: cover;
}

button:disabled {
  opacity: 0.5;
}

a {
  color: inherit;
  text-decoration: none;
 


}
.center {
    margin: auto;
    width: 75%;
    padding: 10px;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Inconsolata';
}
*/
